.custom-button {
  height: 35px;
  background-color: rgb(90, 58, 195);
  margin: 1px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 13px;
  width: 65%;
  cursor: pointer;
  position: relative;
  padding: 8px;
  top: -45px;
  text-transform: uppercase;
}